.position {
  top: 2.5rem;
  left: 11rem;
}

.bgImage {
  background-image: url("./images/phonebg.png");
}

@media (min-width: 1024px) {
  .position {
    top: 9rem;
    left: 33rem;
  }
  .chat {
    margin-top: -40rem;
  }

  .bgImage {
    background-image: url("./images//banner.webp");
  }
}
